<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Please sign in</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body>
<div>
    <a class="nav-item nav-link active ml-2" th:href="@{/login}">Return to login page</a>
</div>
<div class="container">
    <form class="form-signin" method="post" action="/registration" th:object="${newUser}">

        <h2 class="form-signin-heading">Please sign up</h2>
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
            <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Speed Error</div>
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        </p>
        <p>
            <label for="email" class="sr-only">Password</label>
            <input type="text" id="email" name="email" class="form-control" placeholder="email" required>
            <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
        </p>
        <p>
            <label for="phone" class="sr-only">Phone</label>
            <input type="text" id="phone" name="phone" class="form-control" placeholder="phone" required>
            <div style="color:red" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Phone Error</div>
        </p>
        <p>
            <label for="driversLicenseNumber" class="sr-only">Password</label>
            <input type="text" id="driversLicenseNumber" name="driversLicenseNumber" class="form-control" placeholder="driversLicenseNumber" required>
            <div style="color:red" th:if="${#fields.hasErrors('driversLicenseNumber')}" th:errors="*{driversLicenseNumber}">Password Error</div>
        </p>

        <p>
            <select id="roleList" name="roleList" class="form-control" th:multiple="${allRoles.size()}" required>
                <option th:each="role : ${allRoles}"
                        th:value="${role}"
                        th:text="${role.toString()}">
                </option>
            </select>
        </p>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    </form>
</div>
</body></html>